script#news-template type="text/x-jsrender"
  .yn-news-item
    .yn-news-item__title
      |{{:title}}
    .yn-news-item__annotation
      |{{:annotation}}
    .yn-news-item__date
      |{{:published_at}}
