%container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin: 3rem;
  border: 0.3rem solid $white-smoke;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem 0 $shadow;
}
