.yn-homepage {
  @extend %container;
}

.yn-news-item {
  text-align: center;

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__annotation {
    color: $shady-lady;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}
